
    $adpation:100%;
    $light-blue:#5fc0cd;
    $white:white;
    $dark-blue:#55a8b3;
    $black:black;
    $basic-border-style: 1px solid #dedede;
    $basic-unit:5px;

    @mixin fixed{
    position: fixed;
    left: 0;
    }
    
    @mixin flex-space-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
    
    @mixin basic-btn-style{
    display: inline;
    padding: 5px 20px;
    @include rounded-corner;
    }

    @mixin header-center-right-position{
    position: relative;
    right: 10px;
    }

    @mixin menu-border-style{
        border-left: none;
        border-right: none;
    }

    @mixin rounded-corner{
        border-radius: 5px;
    }

    @mixin triangle{
        width:0; 
            height:0; 
            display: inline-block;
            border-top: 5px solid black;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom:  5px solid transparent;
    }
    
    *{
        font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    }

    html{
    
    ul,
    li,
    p,
    {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    }//html
    
    header{
    @include fixed;
    top: 0;
    width: $adpation;
    height: ($basic-unit*10);
    @include flex-space-around;
    background-color: $light-blue;
    
    .header-center-left {
    @include basic-btn-style;
    background-color: $dark-blue;
    color: $white;
    }
    
    .header-center-right {
    @include basic-btn-style;
    @include header-center-right-position;
    background-color: $white;
    color: $light-blue;
    }
    
    .header-left,.header-right{
    width: ($basic-unit*5);
    }
    .header-left{
        visibility: hidden;
    }
    }//header


    nav {
        font-size: ($basic-unit*2+2);
    width: $adpation;
    @include fixed;
    top: 0;
    .menu{
    color:$black;
    box-sizing: border-box;
    border: $basic-border-style;
    background: white;
    width: (100%/3);
    text-align: center;
    float: right;
    margin-top: ($basic-unit*10);
    padding: 0;


    a{
    text-decoration: none;
    color: $black;
    }
    .menu-right,.menu-left{
        @include menu-border-style();
    }
    .drop-down{
        position: relative;
        margin: ($basic-unit*2) 0;
        

        &:hover .drop-down-content{
            display: block;
        }

        .location{
            &::after{
            content:"";
            @include triangle;
            margin-left: $basic-unit;
            }// ::after
        }//location


        .drop-down-content {
            
            display: none;
            position: absolute;
            width: $adpation;
            box-sizing: border-box;
            background: $white;
            border: $basic-border-style;
            @include rounded-corner;
            margin-top: ($basic-unit*3);
            box-shadow: 1px 1px 1px 1px #dedede;
        li{
                margin:$basic-unit*2 0;
                font-size: ($basic-unit*2+2);;
            }

        }//drop-down-content
    }//drop-down

    }//menu
        
    }//nav
        

    main {
        font-size: ($basic-unit*2+2);
        margin-top: ($basic-unit*19);
        margin-bottom: ($basic-unit*22);
        p{
            width:$basic-unit*40; 
            overflow:hidden; 
            white-space:nowrap; 
            text-overflow:ellipsis;
        }

        li{

            i{
                background-image: url(./spritesheet.png);
                float: left;
                width: ($basic-unit*5-1) ;
                height: 23.2px;
                margin-right: $basic-unit;
                transform: scale(0.85,0.85);
                position: relative;
                z-index: -1;
            }
            
            p{
                margin-left: $basic-unit+1 ;
            }

        }//li
        .cat{
            border-bottom: $basic-border-style;
            padding: $basic-unit*2 0;
        
        .cat-1{
            
            background-position: 0 0;
            padding: 0 $basic-unit*4;
        }
        
        .cat-2 {
            display: flex;
            justify-content: space-between;
            margin: $basic-unit*2 0;
            padding: 0 $basic-unit*4;
            div{
                    flex:none;
            }
        }
        .cat-2-center {
            color: red;
        }
        
        .cat-2-right {
            color: $light-blue;
        }
        
        .cat-3  {
            i{
            background-position: 0 -24px;
            }
            padding: 0 $basic-unit*4;
        }
    }//cat
    }//main
    
    footer {
        font-size: ($basic-unit*2+2);
        @include flex-space-around;
        @include fixed;
        bottom: 0;
        width: $adpation;
        background-color: #f8fafb;
    
    
    .footer-left, .footer-right{
    text-align: center;
    padding-top: $basic-unit*3;
    }
    .footer1,.footer3{
        width: $basic-unit*7;
    }
    .footer2{
        width: $basic-unit*12;
    }

}  //footer  
    
