html,body{
    height:100%;
}
body {
    background-color: #68cdd5;
}
.backicon {
    width:27px;
    height:27px;
}
.zhenghe {
    width: 90px;
    height: 35px;
}
.title{
    text-align:center;
}
.content {
    font-size: 15px;
    color: snow;   
    margin: 10% 10%;
}
.e {
    float: left; 
    margin-left: 10%;  
}
.footerleft{
    display:block;
    margin: 0 auto;
}
.f{
    float: right;
    margin-right: 10%; 
}
.footerright{
    display: block;
    margin:50% 50%;
}
.footerleft{
    width: 45px;
    height: 45px;
}
.footerright{
    width: 45px;
    height: 45px;
    margin: 0 auto;
}
.footer1{   
    color: snow;
    text-align: center;
}
.footer2{
    color: snow;
    text-align: center;
}
