html,body{
    height: 100%;
    margin:0;
}
ul{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
header{
    position: absolute;
    margin-top: 0;
    width: 100%; 
    height: 45px;
    background-color: #5fc0cd;
}
button{
    position: absolute;
    left: 30%;
    top: 10%;
    /*b并不居中*/
  
    width: 140px;
    height:35px;
    padding: 0;
    border-color: #55a8b3;
    background-color:#55a8b3;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    
}
.son1{
    position:absolute;
    left: 1px;
    top: 8px;
    width: 70px;
}
.son2{
    position: absolute;
    right: 1px;
    top: 8px;
    width: 70px;
} 
.position-1{
    position:absolute;
    top:10%;
    right:5%;
    width: 30px;
}

.container{
    margin-top: 30px;
}
li{
    width: 100%;
    height: 30px;
}
.line1{
    background-image: url(./spritesheet.png) ;
    background-repeat: no-repeat;
    background-position: 0 0;
    border: 1px solid grey;
    border-width：1px none 1px none;

}
.line1word{
    margin-left: 10%;
}
span{
    margin-left: 10%;
}
.line3{
    background-image: url(./spritesheet.png);
    background-repeat: no-repeat;
    background-size：23px 24px ;
    background-position: 0 -24px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color:grey;
}
.button-left{
    position: absolute;
    left: 15%;
    background-image: url(./footer1.png) ;
    background-repeat: no-repeat;
    background-color: grey;
    border-color: transparent;
    width: 20%;
    height: 70%;
}



.button-center{
    position: absolute;
    left: 50%;
    margin-left: -30px;
    background-image: url(./footer3.png);
    background-repeat: no-repeat;
    background-color: grey;
    border-color: transparent;
    width: 20%;
    height: 90%;
}
.button-right{
    position: absolute;
    left: 70%;
    background-image: url(./footer4.png);
    background-repeat: no-repeat;
    background-color: grey;
    border-color: transparent;
    width: 15%;
    height: 90%;

}    