html,body{
    height:100%;
}
html{font-size:62.5%;}
@media screen and (max-device-width: 400px) {  .left{ float:none;} } 
img, object {max-width: 100%;}
img {width: 100%;} 
img {width:100%; -ms-interpolation-mode: bicubic;}  
body {
    background-color: #68cdd5;
    font:normal 100% Arial,sans-serif;
    font-size:14px; 
    font-size:1.4rem;
}
.backicon {
    width:27px;
    height:27px;
}
.zhenghe {
    width: 90px;
    height: 35px;
}
.title{
    text-align:center;
}
.content {
    width:auto;
    font-size: 15px;
    color: snow;   
    margin: 30% 17% 16% 16%;
}
.e {
    float: left; 
    margin-left: 19%;
    margin-right: 28%; 
    margin-bottom: 20%;
    margin-top: 17%;
}
.footerleft{
    display:block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
}
.f{
    float: right;
    margin-right: 17%;
    margin-bottom: 20%;   
    margin-top: 17%;  
}
.footerright{
    display: block;
    margin:50% 50%;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}
.footer1{  
    width:auto; 
    color: snow;
    text-align: center;
}
.footer2{
    width:auto;
    color: snow;
    text-align: center;
}
