
html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

body {
    background-color: #68cdd5;
    font-size: 1.4rem;
}

.backicon {
    width: 27px;
    height: 27px;
}

.zhenghe {
    width: 90px;
    height: 35px;
}

.title {
    text-align: center;
}

.content {
    width: 80%;
    font-size: 15px;
    color: snow;
    margin: 30% 16% 16% 16%;
}

.bottomleft{
    float: left;
    margin-left: 19%;
}

.footerleft {
    display: block;
    width: 45px;
    height: 45px;
}

.bottomright{
    float: right;
    margin-right: 17%;
}

.footerright {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.footer1 {
    width: auto;
    color: snow;
    text-align: center;
}

.footer2 {
    width: auto;
    color: snow;
    text-align: center;
}