/*{
    border: 1px solid black;
}*/

body{
    background-color: #29bde0;
    margin: 0; /*不然不能铺满整行*/
}

header{
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    padding-top: 10px;
}
.flicker{
    float: right; 
}
.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding:0 6% 0 6%;
}
.menu{
    width: 25px;
}
.header2-triangle{
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent; 
        border-right: 5px solid transparent; 
        border-top: 10px solid #b9e9f5;; 
        position: relative;
        left: 30px;
}
.header2-content{
    position: relative;
    left: 30px;
    color: white;
}
.song{
    width: 30px;
}
.header-2{
    margin-top: 50px;
    background-color: #b9e9f5;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}


.close{
    position:relative;
    width:0.1em;
    height:1.5em;
    background:white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
   }

.close:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:0.1em;
    height:1.5em;
    background: white;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);   
   }
/*grid布局*/

.grandpa{ 
    background: #29bde0;
    /*width: 90%;
    height: 90%;*/
    
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
    margin: 10px auto;
  }  
      
  .dad{
      width: 31vw;
      height: 31vw;
      background: #29bde0;
  }  
  
  .son{
      width: 20vw;
      height: 20vw;
      background: yellow;
      margin: 0 auto;
      display: flex;
      flex-direction:column;
      background: #f5c97b;
      border: 2px solid white;
  }
  .para1{
      flex:2;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .para2{
      flex:1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #83b09a;
      color: white;
  }
  
  .bastard{
      width: 20vw;
      line-height: 10vw;
      margin: 0 auto;
      background: #29bde0;
      display: none;
      
  }
  .bastard img{
      width: 4vw;
      height: 4vw;
      margin-right: 1px;
  }
  /*hover the son element*/
  .dad:hover>.bastard{
      display: block;
  }
  
  





footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100px;
   display: flex;
    align-items: center;
    justify-content: center;
    background-color: #29bde0;
}

button{
    width: 70%;
    height: 50%;
    background-color: #fbb435;
    font-size: 20px;
    color: white;
}

